@model GymWebApp.Models.ViewModel.ReviewViewModel
@{
    ViewData["Title"] = "Review Trainer";
}


<h2 class="text-center mt-3 mb-2">Add a Review</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="TrainerId" class="form-label">Select Trainer</label>
        <select asp-for="TrainerId" class="form-select" asp-items="Model.Trainers">
            <option value="">-- Choose a trainer --</option>
        </select>
        @Html.ValidationMessageFor(m => m.TrainerId, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label asp-for="Rate" class="form-label"></label>
        <input asp-for="Rate" type="number" min="1" max="5" class="form-control" />
        @Html.ValidationMessageFor(m => m.Rate, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Submit Review</button>
</form>
